#<Directory /var/www/poucopixel.com/html/wp-admin>
AuthType Basic
AuthName "restricted area"
AuthUserFile /var/www/.htpasswd
require valid-user
#</Directory>
<Files ~ "(ajax)">
   # All access controls and authentication are disabled
   Satisfy Any
   Allow from all
</Files>