/* cssreset.com */* { margin: 0; padding: 0; outline: 0 !important; }

@font-face {
	font-family: Sanchez;
	src: url("Sanchezregular.otf") format("opentype");
}

@font-face {
	font-family: PetitaMedium;
	src: url("PetitaMedium.ttf") format("truetype");
}

@font-face {
	font-family: PetitaBold;
	src: url("PetitaBold.ttf") format("truetype");
}

body
{
	border: 0px;
	margin: 0px 0px;
	font-family: PetitaMedium, Arial, sans-serif;
	color: #FFF;
	background-image: linear-gradient(to bottom right, #000, #555);
    font-size: 14px;
}

div#canvas
{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 20px;
}

div#content
{
    position: relative;
    top: 45%;
    transform: translateY(-50%); 
}

h1
{
	background-repeat: no-repeat;
	text-indent: -9000px;
	overflow: hidden;
	display: block;
    background-image: url("https://getconcertmaster.com/images/logo.png");
    background-position: center;
    background-size: contain;
	width: 70%;
    margin: 0px auto 60px;
    max-width: 445px;
    height: 90px;
}

h2
{
    font-family: Sanchez, Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
    margin: 60px auto;
}

p
{
    text-align: center;
    font-size: 17px;
    line-height: 28px;
    margin-top: 0px;
    font-weight: 300;
    padding: 10px 50px;
}

strong 
{
    color: #FCE546;
}